*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: 
    "header",
    "main",
    "footer";
    background-image: url(../image/background.jpg);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

/* Header */
/* Nav-bar */

.navbar {
    height: auto;
    width: 400px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(25, 18, 18, 0.668);
    filter: drop-shadow(0 0 0.75rem rgba(25, 18, 18, 0.622));
    position: relative;
    margin-top: 5px;
    margin-left: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.navbar a {
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(255, 0, 0, 0.969);
    border: 2px solid rgba(25, 18, 18, 0.838);
    padding: 10px 20px;
    transition: transform 0.3s ease, border-radius 0.6s ease;
    position: relative;
}

.navbar a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: width 0.6s ease;
    background-color: white;
    border-radius: 25px;
    z-index: -10;
}

.navbar a:hover {
    transform: scale(1.1);
    border-radius: 25px;
}

.navbar a:hover::after {
    width: 100%;
}

/* main */
/* formulaire */

.title .sub-title{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group{
    padding: 50px;
    background-color: white;
    max-width: auto;
    height: auto;
    border-radius: 20px;
}

.group h1{
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 28px;
}

.group form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.group form .gp{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.group form label{
    color: #333;
    font-size: 16px;
}

.group form input{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.group form input:focus{
    border: 1px solid #af960b;
}

.group form button{
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #333;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
}

.group form button:hover{
    background: #af960b;
}